<div class="container">
    <% @posts.reverse_each do |post| %>
        <div class="card m-5">
            <h5 class="card-header">Post by: <%= post.user.email%></h5>
            <div class="card-body">
                <h5 class="card-title mt-3"><%=post.title%></h5>
                <p class="card-text mt-5 m-3"><%= post.body%></p>
            </div>
            <%if user_signed_in?%>
             <%if current_user.id == post.user.id%>
                <div class= "mt-5 mb-3">
                <%= link_to "Edit", post, class: "btn btn-success"%>
                  <%= link_to "Delete", post, data:{
                                                turbo_method: :delete,
                                                turbo_confirm: "are you sure?"}, class: "btn btn-danger"%>
                </div>
            <%end%>
            <%end%>
        </div>
    <% end %>
</div>